<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>osstat</title>
</head>

<body>
    <h1>CPU Usage</h1>
    <span id="cpu_usage"></span>
    <h1>Memory Usage</h1>
    <span id="memory_usage"></span>
</body>
<script>
    async function getResponse(url) {
        const res = await fetch(url);
        const data = await res.json();
        return data;
    }
    async function fetchAPI () {
            const [cpu, memory] = await Promise.all([getResponse("/cpu"), getResponse("/memory")]);
            document.getElementById("cpu_usage").innerHTML = (100 - parseFloat(cpu.cpu_idle)).toFixed(2) + "%";
            document.getElementById("memory_usage").innerHTML = (parseFloat(memory.memory_used)).toFixed(2) + " / " + (parseFloat(memory.memory_total)).toFixed(2) + "GB";
        }
    fetchAPI();
    (function () {
        setInterval(fetchAPI, 2000);
    })();
</script>

</html>